<% include ./partials/header.ejs %>
  <title>Anahuac Materias: Inicio</title>
  <link rel="stylesheet" href="/index.css">
<% include ./partials/middle.ejs %>

<div class="container container-course">
  <div class="container container-course-title">
      <h4>Materias:</h4>
        <a href="/courses/new" class="btn btn-warning btn-sm addSemester">Añadir</a>
      <button type="button" class="btn btn-warning btn-sm addSemester">Editar</button>
  </div>
  <div class="row">
    <% courses.forEach(function(course){  %>
      <div class="col-md-4 col-sm-6">
          <div class="course-title">
            <span><%= course.name %></span>
            <span class="course-credit">(<%= course.credits %> creditos)</span>

            <form action="/<%= course._id %>?_method=DELETE" method="POST">
              <button class="btn btn-default pencil pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true" alt="borrar materia"></span></button>
            </form>
            <form action="/<%= course._id %>/edit" method="GET">
              <button class="btn btn-default pencil pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true" alt="editar materia"></span></button>
            </form>
          </div>
          <table class="table table-striped table-bordered table-responsive" >
            <thead>
              <tr>
                <th>Atributo</th>
                <th>%</th>
                <th>Calificación</th>
              </tr>
            </thead>
            <tbody>
              <% course.metrics.forEach(function(metric){ %>
                <tr class="metric">
                  <td><%= metric.name %></td>
                  <td class="metric-porcentage"><%= metric.porcentage %></td>
                  <td class="metric-grade"><input type="Number" value="<%=metric.grade%>" step="0.1" max="10"/></td>
                </tr>
              <% }); %>
              <tr class="final-grade">
                <td colspan="2"> Calificación Final </td>
                <td class="final-grade-grade">9</td>
              </tr>
            </tbody>
          </table>
        </div>
    <% }); %>
  </div>
</div>
</div>
<% include ./partials/footer.ejs %>
